.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.imgLogo {
    width: 250px;
    object-fit: cover;
    margin-top: 20px;
}
.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    background-image: url(https://e1.pxfuel.com/desktop-wallpaper/802/142/desktop-wallpaper-rick-and-morty-amoled-rick-and-morty-portal-iphone-thumbnail.jpg);
    background-position: center;
    background-repeat: no-repeat;  
    background-attachment: fixed; 
    background-size: 235px;
    background-color: black;

    width: 23%;
    height: 45vh;
    margin-top: 45px;
    border-radius: 23px;

    border-top: 3px solid rgb(114, 251, 117);
    border-left: 3px solid  rgb(75, 161, 76);
    border-right: 3px solid  rgb(114, 251, 117);
    border-bottom: 3px solid rgb(75, 161, 76);
    transition: border .8s;
}

.formulario:hover{
    border-left: 3px solid rgb(114, 251, 117);
    border-top: 3px solid  rgb(75, 161, 76);
    border-bottom: 3px solid  rgb(114, 251, 117);
    border-right: 3px solid rgb(75, 161, 76);
    transition: border .8s;
}
.nameInput {
    margin-bottom: 10px;
    font-size: 20px;
    width: 20%;
    margin-left: 24%;
    text-align: start;
    color: white;
    margin-top: 3%;
}

.error {
    color: red;
    background-color: rgb(151, 151, 151);
    margin: 0px;
    font-size: 11px;
    width: 20%;
    height: 2.5vh;
    margin-left: 24%;
    text-align: start;
}

.input {
    background-color: rgba(0, 0, 0, 0.334);
    border: none;
    border-bottom: 2px solid rgb(151, 151, 151);
    width: 50%;
    height: 4vh;
    margin-left: 24%;
    outline: none;
    color: white;
    border-radius: 10px;
    transition: border-bottom .5s, border-radius .5s;

}

.input:focus {
    background: rgb(36,61,11);
    background: linear-gradient(0deg, rgba(36,61,11,1) 0%,transparent);
    border-bottom: 2px solid white;
    border-radius: 10px;
    transition: border-bottom 0.5s,border-radius .5s;
}
.input:hover{
    border-bottom: 2px solid white;
}

.formulario p {
    font-size: 11px;
    width: 60%;
    margin-left: 24%;
    background-color: transparent;

}

.boton {
    width: 55px;
    border-radius: 5px;
    margin-left: 43%;
    margin-top: 2%;
    background-color: rgb(35, 32, 32);
    color: white;
    border: 2px solid white;
}
.boton:hover{
    background-color:black;
    color: white;
    border: 2px solid white;
}